$border-color:                        #dfe6e9 !default;
// Colors

$blue:                                  #0984e3;
$gray:                                  #b2bec3;
$green:                                 #00b894;
$white:                                 #FFFFFF;

// Sidebar

$sidebar-width:                         250px !default;
$sidebar-item-hover-color:              $blue !default;
$sidebar-item-hover-background:         $white !default;
