@import '~src/sass/variables';
aside.app-sidebar {
    width: $sidebar-width;
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid $border-color;
    nav {
        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            li{
                cursor: pointer;
                border-bottom: 1px solid $border-color;
                min-height: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                a{
                    i {
                        padding: 0px 20px;
                    }
                    color: inherit;
                    text-decoration: none;
                }
                &:hover{
                    background: $sidebar-item-hover-color;
                    color: $sidebar-item-hover-background;
                    border: none;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    aside.app-sidebar {
        display: none;
    }
}